<!DOCTYPE html>
<html>
<head>
  <title>Motherofpaint</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse"><!--navbar-fixed-top-->
  		<section class="container">
    		<section class="navbar-header">
      			<%= link_to 'Mother of Paint', posts_path, class: "navbar-brand" %>
    		</section>
    		<ul class="nav navbar-nav navbar-right">
    			<%= link_to "Nuevo Post", new_post_path, class: "btn btn-info navbar-btn" %>
    		</ul>
  		</section>
	</nav>

<!--<section class="banner-trippy">
</section>-->
<% flash.each do |key,msg|%>
  <section class="alert alert-<%=key%>" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p><%= msg %></p>
    
  </section>
<%end%>
<%= yield %>
</body>
</html>

